:root {
    --cor-fundo: #012810;
    --cor-bold: #078E43;
}

body,
html,
.container {
    height: 100%;
}

p {
    margin: 0;
}

figure {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar,
footer,
nav {
    color: white;
    background-color: var(--cor-fundo);
}

button {
    padding: 5px 15px;
    color: white;
    background-color: var(--cor-bold);
}

.detalhe-banner {
    position: absolute;
    z-index: 99;
    margin-top: -130px;
    width: 100%;
}

.detalhe-banner img {
    width: 100%;
    height: 280px;
}

.section-padding {
    padding: 160px 0px;
}

.emph {
    color: var(--cor-bold);
}

.preco {
    color: var(--cor-bold);
    font-size: 24px;
}

.footer-baixo {
    background-color: #001508;
    padding: 28px 0;
}

.footer-baixo .login {
    text-align: right;
}

.footer-baixo .login a {
    color: white;
    padding: 8px 0;
}

.footer-baixo .login a:hover {
    color: var(--cor-bold);
}

.sobre {
    padding-bottom: 90px;
}

.sobre .titulo {
    padding: 20px 0;
}

.footer-endereco,
.footer-novidades {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-novidades p {
    padding-top: 15px;
    padding-bottom: 20px;
}

.novidades-form,
.novidades-form p {
    padding-bottom: 0px;
    padding-bottom: 0px;
}

.novidades-form .txt-field {
    padding: 0 15px;
    margin-bottom: 15px;
    height: 38px;
    width: 100%;
}

.novidades-form .btn-enviar {
    color: white;
    border: solid;
    background-color: var(--cor-bold);
    padding: 8px 35px;
    border-radius: 5px;
    border-color: var(--cor-bold);
}

.novidades-form .btn-enviar:hover {
    color: var(--cor-bold);
    background-color: white;
    border-color: white;
}

.footer-logo {
    width: 140px;
    padding-bottom: 25px;
}

.missao-valores {
    background-color: var(--cor-fundo);
    color: white;
    margin: 90px 0;
    padding: 120px 0;
}

.parceiro img {
    width: 11rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.parceiro {
    padding-top: 150px;
}

.parceiro .titulo {
    padding: 80px 0;
    text-align: center;
}

.parceiro .card {
    padding: 40px 0;
    text-align: center;
}

.contato {
    padding: 80px 0;
}

.contato .painel {
    background-color: white;
}

.contato .vamosconversar .enderecounico {
    padding: 25px 25px;
}

.contato .vamosconversar .enderecounico div {
    padding: 15px 0;
}

.contato .vamosconversar .enderecounico h3 {
    font-size: 18px;
    font-weight: bold;
}

.contato .vamosconversar .enderecounico address {
    padding: 0;
    margin: 0;
}

.contato .vamosconversar .enderecounico form input {
    width: 100%;
    padding: 4px 0;
    margin: 12px 0;
    border: 0;
    border-bottom: 1px solid #b0b0b0;
}

.contato .vamosconversar .enderecounico form input[type=button] {
    color: var(--cor-bold);
    background-color: white;
    width: 50%;
    border-radius: 5px;
    border-color: var(--cor-bold);
    border: 2px solid var(--cor-bold);
}

.contato .vamosconversar .enderecounico form input[type=button]:hover {
    background-color: var(--cor-bold);
    color: white;
}

.pecas {
    padding: 200px 0;
}

.pecas .card {
    text-align: center;
}

.pecas .titulo {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}

.carretas {
    padding: 200px 0;
}

.carretas .card {
    text-align: center;
}

.carretas .titulo {
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}

.autenticacao body {
    background-color: var(--cor-fundo);
    color: white;
}

.autenticacao .login .painel,
.autenticacao .registrar .painel {
    margin-top: auto;
    margin-bottom: auto;
}

.autenticacao .login .painel .titulo,
.autenticacao .registrar .painel .titulo {
    text-align: center;
    font-weight: bold;
}

.autenticacao .login .painel .subtitulo,
.autenticacao .registrar .painel .subtitulo {
    text-align: center;
    margin-bottom: 30px;
}

.autenticacao .login .painel form input,
.autenticacao .login .painel button,
.autenticacao .registrar .painel form input,
.autenticacao .registrar .painel button {
    width: 100%;
    margin: 10px 0;
    color: black;
    background-color: var(--cor-fundo);
    border: solid;
    border-color: white;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.autenticacao .login .painel form input[type=button],
.autenticacao .login .painel form input[type=submit],
.autenticacao .login .painel button,
.autenticacao .registrar .painel form input[type=button],
.autenticacao .registrar .painel form input[type=submit],
.autenticacao .registrar .painel button {
    border-width: 1px;
    color: white;
}

.autenticacao .registrar .painel form input[type=button],
.autenticacao .registrar .painel form input[type=submit]
{
margin-top: 30px;
}

.autenticacao .login .painel .btn-submit,
.autenticacao .registrar .painel .btn-submit {
    background-color: var(--cor-bold);
    border-color: var(--cor-fundo);
}

.autenticacao .login .painel .btn-cancelar,
.autenticacao .registrar .painel .btn-cancelar {
    background-color: var(--cor-fundo);
    color: white;
}

.autenticacao .login .painel form input[type=button]:hover,
.autenticacao .login .painel form input[type=submit]:hover,
.autenticacao .login .painel .btn-cancelar:hover,
.autenticacao .registrar .painel form input[type=button]:hover,
.autenticacao .registrar .painel form input[type=submit]:hover,
.autenticacao .registrar .painel .btn-cancelar:hover {
    background-color: white;
    color: var(--cor-bold);
}

.autenticacao .login .painel .criarconta,
.autenticacao .registrar .painel .possui-conta {
    text-align: center;
}

#barralateral {
    min-width: 280px;
}

#barralateral li {
    margin: 2px 0;
    border: solid;
    border-color: var(--cor-fundo);
    border-radius: 5px;
}

#barralateral li:active,
#barralateral li .active {
    color: white;
    border-radius: 5px;
    background-color: var(--cor-bold);
    border-color: var(--cor-bold);
}

#barralateral li:hover {
    background-color: white;
    border-color: white;
}

#barralateral li:hover a:not(.active) {
    color: var(--cor-bold);
}

#barralateral ul svg {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
}